In [1]:
import numpy as np
import pandas as pd
from annoy import AnnoyIndex
import csv

In [2]:
train_data = pd.read_csv("./train.csv")
# data を np_array 変換
datas = train_data.values
# score のリストを保持
scores = train_data["Score"].values

In [3]:
train_data.head()

,ID,Score,col1,col2,col3,col4,col5,col6,col7,col8,...,col3796,col3797,col3798,col3799,col3800,col3801,col3802,col3803,col3804,col3805
0,5,3.475628,0,4.058,0.824,0,10.267,0.728,4.403,0.050,...,1.067,0,0.0,0.115,30.395,24.541,0,0.415,0.997,0
1,8,3.601332,0,4.111,0.929,0,8.352,0.907,4.216,0.034,...,0.934,0,0.0,0.227,38.508,35.038,0,3.979,0.997,3
2,9,1.935003,0,4.139,0.833,66,9.494,0.733,4.069,0.267,...,1.722,0,0.0,0.148,27.932,19.518,0,0.849,0.999,0
3,12,3.283663,0,4.016,0.880,0,8.237,0.836,3.956,0.129,...,0.993,0,0.0,0.124,18.993,25.403,0,0.988,0.998,0
4,14,3.409121,0,4.657,0.522,0,35.882,0.383,4.234,-0.089,...,2.095,0,0.0,0.088,44.225,15.741,0,1.595,0.997,0

In [4]:
train_data.describe()

,ID,Score,col1,col2,col3,col4,col5,col6,col7,col8,...,col3796,col3797,col3798,col3799,col3800,col3801,col3802,col3803,col3804,col3805
count,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,...,13731.000000,13731.000000,1.373100e+04,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000,13731.000000
mean,13715.888428,2.024839,0.000583,4.173750,0.718538,7.142816,12.532379,0.603704,4.345228,0.052560,...,1.215428,0.106329,2.184837e-07,0.115421,25.719365,19.682047,0.014347,1.879396,0.997325,1.035831
std,7891.540358,0.923629,0.026981,0.268635,0.118122,26.261926,9.907825,0.169981,0.281740,0.136567,...,0.443918,0.320774,1.478012e-05,0.033461,28.326643,9.833533,0.118921,1.520451,0.000822,1.755988
min,5.000000,-1.000000,0.000000,2.955000,0.386000,0.000000,0.000000,0.106000,3.457000,-0.399000,...,0.045000,0.000000,0.000000e+00,0.049000,0.000000,4.039000,0.000000,-2.055000,0.991000,0.000000
25%,6908.500000,1.378398,0.000000,3.994500,0.628000,0.000000,4.821500,0.463000,4.101000,-0.048000,...,0.910000,0.000000,0.000000e+00,0.093000,1.798500,12.817500,0.000000,0.797000,0.997000,0.000000
50%,13686.000000,2.034227,0.000000,4.184000,0.725000,0.000000,10.626000,0.606000,4.344000,0.037000,...,1.181000,0.000000,0.000000e+00,0.109000,18.147000,17.383000,0.000000,1.651000,0.997000,0.000000
75%,20528.000000,2.659013,0.000000,4.374000,0.809000,4.000000,18.507500,0.741000,4.582000,0.143000,...,1.476000,0.000000,0.000000e+00,0.130000,39.595500,24.082000,0.000000,2.763500,0.998000,2.000000
max,27463.000000,4.673205,2.000000,4.893000,0.958000,525.000000,72.823000,0.949000,5.099000,0.561000,...,3.785000,2.000000,1.000000e-03,0.505000,254.304000,70.825000,1.000000,11.219000,0.999000,13.000000

In [5]:
train_data.shape

(13731, 3807)

In [6]:
train_data = train_data.drop("ID", axis=1)
train_data = train_data.drop("Score", axis=1)

In [7]:
datas = train_data.values

In [8]:
# annoy のインスタンス生成
annoy_model = AnnoyIndex(train_data.shape[1])
# インデックスの作成
for index, feature in enumerate(datas):
    annoy_model.add_item(index, feature)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default argument for metric will be removed in future version of Annoy. Please pass metric='angular' explicitly.

In [9]:
# モデルのビルド
annoy_model.build(100)

True

In [10]:
# テストデータの読み取り
test_data = pd.read_csv("./test.csv")

In [11]:
test_data.head()

,ID,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col3796,col3797,col3798,col3799,col3800,col3801,col3802,col3803,col3804,col3805
0,1,0,4.059,0.630,0,3.246,0.568,4.378,0.006,11,...,0.660,0,0.0,0.111,0.000,10.120,0,2.510,0.998,0
1,2,0,3.769,0.811,10,1.772,0.754,4.239,0.029,5,...,0.872,0,0.0,0.143,15.716,15.183,0,1.257,0.997,0
2,3,0,4.685,0.803,0,24.748,0.779,3.976,0.093,23,...,1.719,0,0.0,0.114,72.896,33.939,0,2.911,0.998,0
3,4,0,4.358,0.815,0,27.402,0.635,4.736,0.057,13,...,1.382,0,0.0,0.098,29.938,25.532,0,4.687,0.997,3
4,6,0,4.010,0.785,3,6.141,0.612,4.429,-0.198,5,...,1.017,0,0.0,0.115,5.108,15.347,0,3.102,0.997,1

In [12]:
test_id = test_data["ID"].values
test_data = test_data.drop("ID", axis=1)

In [13]:
test_datas = test_data.values

In [14]:
result = list()
for f in test_datas:
    predict_index = annoy_model.get_nns_by_vector(f, 1, search_k=100)
    result.append(scores[predict_index])

In [15]:
predict_csv = list()
for index, id in enumerate(test_id):
    tmp_list = list()
    tmp_list.append(id)
    tmp_list.append(result[index][0])
    predict_csv.append(tmp_list)

In [16]:
# csv 出力
with open("predict.csv", "w", encoding="Shift_jis") as f:
    writer = csv.writer(f, lineterminator="\n")
    writer.writerows(predict_csv)